html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.timePickerPage {
    background-image: url("https://wallpaperaccess.com/full/959907.jpg");
    height: 100%;
    background-size: cover;
}

.timePickerComponent {
    display: flex;
    flex-direction: column;
}

.time-picker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px !important;
    height: 80px;
}

.snowRange {
    display: grid;
}

#hourRange {
    margin-left: 80px;
}

#tableLabels {
    display: flex;
    justify-content: space-evenly;
    font-size: 55px;
}

.submitDiv {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.resetDiv {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#paper {
    background: rgba(255, 255, 255, .8);
}

.timePickerDiv {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.snowRangeLabel {
    margin-left: 50px;
}