/* 




input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}


.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#loginform {
    display: flex; 
    position: relative;
    justify-content: center;
}

#loginform:after{
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, rgb(0, 183, 255), gray);
}

#loginform .form-inner{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px;
    z-index: 2;
}

#loginform .form-inner h2{
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

#loginform .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color:rgb(0, 183, 255);
}

#loginform .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: lightgray;
    border-radius: 8px;
    transition: 0.4s;
}

#loginform .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

#loginform .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, rgb(0, 183, 255), gray);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 95px;
}

.error{
    font-size: 15px;
    color: #666;
}

#link {
    display: flex;
    justify-content: center;
} */

#signinForm {
  /* margin: 0px; */
  padding: auto;
  background-color: white;
}

.sign-in {
  background-image: linear-gradient(to bottom right, rgb(0, 183, 255), gray);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
